@import "tailwindcss";

:root {
  font-family: 'Nanum Pen Script', cursive, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f0;
}

* {
  box-sizing: border-box;
}
